@import "./global.css";



form {
    display: grid;
    width: 600px;
    gap: 10px;
    background-color: #fafafc;
    border-radius: 20px;
    margin: 25px 40px;
    padding: 10px 40px;
}

.inputs {
    display: flex;
    flex-direction: column;
}
.inputs label{
    font-size: 18px;
}
.inputs input{
    border-radius: 8px;
    border: 1px solid #e6e6f0;
    height: 34px;
    padding-left: 10px;
}
.btn-enviar input{
    background-color: green;
    color: white;
    border-radius: 8px;
    border: 1px solid green;
    width: 300px;
    margin-left: 106px;
    height: 35px;
    margin-top: 30px;
}

.h1 h1{
    position: absolute;
    margin-top: -700px;
    margin-left: 995px;
    font-size: 80px;
}

footer{

    }