body{
    margin: none;
    padding: none;
    font-family:"Fira Sans", sans-serif , Arial;
    background-color: #fff0f5;
    position: relative;
}

ul, li, h1, h2, h3,p{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}

    
nav {
    background-color: #D05581;
}
nav li{
    padding: 0.7rem 2rem;
}
nav a{
    color: #7c2242;
    font-size: 1.4rem;
}
footer{
    background-color: #533232;
    color: #2f2222;
    font-size: 1.3rem;
    padding:3px;
}
main {
    padding: none;
    margin: 0px;
    background-color: #fff0f5;
}

header nav {
    background-color: #D05581;
}

footer{
    background-color: #533232;
    color: #2f2222;
}
 a:hover{
    color: #7c2242 ;
    text-decoration: none;
 }