@import './global.css';

.receitas,
.receitas2,
.receitas3 {
    background-color: #eb9ab7;
    border-radius: 20px;
    height: 700px;
    
}

.con-main {
    gap: 30px;
    padding: 17px 60px;
}

img {
    width: 200px;
    height: 190px;
    border-radius: 20px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
p{
    font-size: 20px;
    padding: 0 5px;
}
main ul{
    list-style: circle;
    font-size: 14px;
    padding: 10px 15px;
}
