@import './global.css';

body{
   height: 100%;
}
.receitas,
.receitas2,
.receitas3 {
    background-color: white;
    border-radius: 20px;
    height: 100%;
    border: 1px rgb(170, 170, 170) solid;
    padding: 20px;
}

.receitas:hover,
.receitas2:hover,
.receitas3:hover{
    border: 1px #fc3fb0 solid;
}
.con-main {
    gap: 30px;
    padding: 17px 60px;

}

img {
    width:100%;
  
    border-radius: 20px;
}


p{
    font-size: 20px;
    padding: 0 5px;
}
main ul{
    list-style: circle;
    font-size: 14px;
    padding: 10px 15px;
}
footer{
    position: relative;
}