@import './global.css';

nav {
    background-color: #D05581;
}
main {
    padding: none;
    margin: 0px;
    background-color: #fff0f5;
}
footer{
    background-color: #533232;
    color: #2f2222;
}
